In [1]:
# usual imports 
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

# scikit-learn and category encoders
from sklearn.model_selection import train_test_split
from category_encoders import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

EDA OF LOAN DATA

UPLOADING THE DATA

In [2]:
loan = pd.read_csv("./archive(1)/loan.csv")

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [4]:
loan["loan_status"]

0         Fully Paid
1        Charged Off
2         Fully Paid
3         Fully Paid
4            Current
            ...
39712     Fully Paid
39713     Fully Paid
39714     Fully Paid
39715     Fully Paid
39716     Fully Paid
Name: loan_status, Length: 39717, dtype: object

In [5]:
loan["loan_status"].value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [45]:
loan['loan_status'].value_counts(normalize=True)

Fully Paid     0.829620
Charged Off    0.141677
Current        0.028703
Name: loan_status, dtype: float64

DROP ALL COLUMNS WHICH HAVE NO DATA

In [6]:
loan_new = loan.dropna(axis = 1, how = 'all')

In [7]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

In [8]:
loan_new['loan_status'].value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [9]:
loan_new['status_of_loans'] = loan_new['loan_status'].map({"Fully Paid":0, "Current":1, "Charged Off":2})

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
loan_new['status_of_loans'].head(20)

0     0
1     2
2     0
3     0
4     1
5     0
6     0
7     0
8     2
9     2
10    0
11    0
12    2
13    0
14    2
15    0
16    0
17    0
18    0
19    0
Name: status_of_loans, dtype: int64

Status_of_Loan TO BE PREDICTED

In [11]:
loan_new['loan_status'].head(20)

0      Fully Paid
1     Charged Off
2      Fully Paid
3      Fully Paid
4         Current
5      Fully Paid
6      Fully Paid
7      Fully Paid
8     Charged Off
9     Charged Off
10     Fully Paid
11     Fully Paid
12    Charged Off
13     Fully Paid
14    Charged Off
15     Fully Paid
16     Fully Paid
17     Fully Paid
18     Fully Paid
19     Fully Paid
Name: loan_status, dtype: object

In [12]:
loan_new['grade_of_loans'] = loan_new['grade'].map({"A":7, "B":6, "C":5, "D":4, "E":3, "F":2, "G":1})

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
loan_new['grade_of_loans']

0        6
1        5
2        5
3        5
4        6
        ..
39712    7
39713    5
39714    7
39715    7
39716    3
Name: grade_of_loans, Length: 39717, dtype: int64

In [14]:
loan_new['grade']

0        B
1        C
2        C
3        C
4        B
        ..
39712    A
39713    C
39714    A
39715    A
39716    E
Name: grade, Length: 39717, dtype: object

In [15]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 59 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
 57  status_of_loans             39717 non-null  int64
 58  grade_of_loans              39717 non-null  int64
dtypes: float64(20), int64(15), object(24)
memory usage: 17.9+ MB

In [46]:
loan_new['grade'].value_counts(normalize=True)

B    0.302641
A    0.253921
C    0.203893
D    0.133620
E    0.071556
F    0.026412
G    0.007956
Name: grade, dtype: float64

GRADE IS A CATEGORICAL VARIABLE TO BE ONEHOTENCODED

In [17]:
from category_encoders import OneHotEncoder

In [18]:
ohe = OneHotEncoder(cols=['grade'], use_cat_names=True)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 59 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
 57  status_of_loans             39717 non-null  int64
 58  grade_of_loans              39717 non-null  int64
dtypes: float64(20), int64(15), object(24)
memory usage: 17.9+ MB

In [21]:
loan_new.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq',
       'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies',
       'tax_liens', 'status_of_loans', 'grade_of_loans'],
      dtype='object')

In [22]:
loan_new.to_csv("./archive(1)/loan_new.csv")

VARIABLES TO DROP FROM THE FILE FOR DATA CLEANING

In [23]:
colsToDrop = ["id", "member_id", "funded_amnt", "emp_title", "pymnt_plan", "url", "desc", 
 "title", "zip_code", "delinq_2yrs", 
 "mths_since_last_record", "revol_bal", "initial_list_status", 
 "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv",
 "total_rec_prncp", "total_rec_int", "total_rec_late_fee", 
 "collection_recovery_fee", "last_pymnt_d", 
 "last_pymnt_amnt", "next_pymnt_d", "last_credit_pull_d", 
 "collections_12_mths_ex_med", "policy_code", "acc_now_delinq",
 "chargeoff_within_12_mths", "tax_liens", 
 "application_type", "pub_rec_bankruptcies", "addr_state"]

In [24]:
colsToDrop

['id',
 'member_id',
 'funded_amnt',
 'emp_title',
 'pymnt_plan',
 'url',
 'desc',
 'title',
 'zip_code',
 'delinq_2yrs',
 'mths_since_last_record',
 'revol_bal',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'tax_liens',
 'application_type',
 'pub_rec_bankruptcies',
 'addr_state']

In [25]:
loan_new.drop(colsToDrop, axis=1, inplace=True)

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               39717 non-null  int64
 1   funded_amnt_inv         39717 non-null  float64
 2   term                    39717 non-null  object
 3   int_rate                39717 non-null  object
 4   installment             39717 non-null  float64
 5   grade                   39717 non-null  object
 6   sub_grade               39717 non-null  object
 7   emp_length              38642 non-null  object
 8   home_ownership          39717 non-null  object
 9   annual_inc              39717 non-null  float64
 10  verification_status     39717 non-null  object
 11  issue_d                 39717 non-null  object
 12  loan_status             39717 non-null  object
 13  purpose                 39717 non-null  object
 14  dti                     39717 non-null  float64
 15  earliest_cr_line        39717 non-null  object
 16  inq_last_6mths          39717 non-null  int64
 17  mths_since_last_delinq  14035 non-null  float64
 18  open_acc                39717 non-null  int64
 19  pub_rec                 39717 non-null  int64
 20  revol_util              39667 non-null  object
 21  total_acc               39717 non-null  int64
 22  recoveries              39717 non-null  float64
 23  delinq_amnt             39717 non-null  int64
 24  status_of_loans         39717 non-null  int64
 25  grade_of_loans          39717 non-null  int64
dtypes: float64(6), int64(8), object(12)
memory usage: 7.9+ MB

In [27]:
loan_new.to_csv("./archive(1)/loan_new_updated.csv")

In [28]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               39717 non-null  int64
 1   funded_amnt_inv         39717 non-null  float64
 2   term                    39717 non-null  object
 3   int_rate                39717 non-null  object
 4   installment             39717 non-null  float64
 5   grade                   39717 non-null  object
 6   sub_grade               39717 non-null  object
 7   emp_length              38642 non-null  object
 8   home_ownership          39717 non-null  object
 9   annual_inc              39717 non-null  float64
 10  verification_status     39717 non-null  object
 11  issue_d                 39717 non-null  object
 12  loan_status             39717 non-null  object
 13  purpose                 39717 non-null  object
 14  dti                     39717 non-null  float64
 15  earliest_cr_line        39717 non-null  object
 16  inq_last_6mths          39717 non-null  int64
 17  mths_since_last_delinq  14035 non-null  float64
 18  open_acc                39717 non-null  int64
 19  pub_rec                 39717 non-null  int64
 20  revol_util              39667 non-null  object
 21  total_acc               39717 non-null  int64
 22  recoveries              39717 non-null  float64
 23  delinq_amnt             39717 non-null  int64
 24  status_of_loans         39717 non-null  int64
 25  grade_of_loans          39717 non-null  int64
dtypes: float64(6), int64(8), object(12)
memory usage: 7.9+ MB

In [29]:
NewLoans = loan_new[['loan_amnt', 'term']]

In [30]:
loan_new['life'] = loan_new['term'].str.extract("(\d*\.?\d+)", expand=True)

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
loan_new['life']

0        36
1        60
2        36
3        36
4        60
         ..
39712    36
39713    36
39714    36
39715    36
39716    36
Name: life, Length: 39717, dtype: object

In [32]:
loan_new['life_new'] = pd.to_numeric(loan_new['life'], errors='coerce')

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               39717 non-null  int64
 1   funded_amnt_inv         39717 non-null  float64
 2   term                    39717 non-null  object
 3   int_rate                39717 non-null  object
 4   installment             39717 non-null  float64
 5   grade                   39717 non-null  object
 6   sub_grade               39717 non-null  object
 7   emp_length              38642 non-null  object
 8   home_ownership          39717 non-null  object
 9   annual_inc              39717 non-null  float64
 10  verification_status     39717 non-null  object
 11  issue_d                 39717 non-null  object
 12  loan_status             39717 non-null  object
 13  purpose                 39717 non-null  object
 14  dti                     39717 non-null  float64
 15  earliest_cr_line        39717 non-null  object
 16  inq_last_6mths          39717 non-null  int64
 17  mths_since_last_delinq  14035 non-null  float64
 18  open_acc                39717 non-null  int64
 19  pub_rec                 39717 non-null  int64
 20  revol_util              39667 non-null  object
 21  total_acc               39717 non-null  int64
 22  recoveries              39717 non-null  float64
 23  delinq_amnt             39717 non-null  int64
 24  status_of_loans         39717 non-null  int64
 25  grade_of_loans          39717 non-null  int64
 26  life                    39717 non-null  object
 27  life_new                39717 non-null  int64
dtypes: float64(6), int64(9), object(13)
memory usage: 8.5+ MB

In [34]:
loan_new['interest_rate'] = loan_new['int_rate'].str.extract("(\d*\.?\d+)", expand=True)

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
loan_new['interest_rate']

0        10.65
1        15.27
2        15.96
3        13.49
4        12.69
         ...
39712     8.07
39713    10.28
39714     8.07
39715     7.43
39716    13.75
Name: interest_rate, Length: 39717, dtype: object

In [36]:
loan_new['interest_rate_new'] = pd.to_numeric(loan_new['interest_rate'], errors='coerce')

/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
loan_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               39717 non-null  int64
 1   funded_amnt_inv         39717 non-null  float64
 2   term                    39717 non-null  object
 3   int_rate                39717 non-null  object
 4   installment             39717 non-null  float64
 5   grade                   39717 non-null  object
 6   sub_grade               39717 non-null  object
 7   emp_length              38642 non-null  object
 8   home_ownership          39717 non-null  object
 9   annual_inc              39717 non-null  float64
 10  verification_status     39717 non-null  object
 11  issue_d                 39717 non-null  object
 12  loan_status             39717 non-null  object
 13  purpose                 39717 non-null  object
 14  dti                     39717 non-null  float64
 15  earliest_cr_line        39717 non-null  object
 16  inq_last_6mths          39717 non-null  int64
 17  mths_since_last_delinq  14035 non-null  float64
 18  open_acc                39717 non-null  int64
 19  pub_rec                 39717 non-null  int64
 20  revol_util              39667 non-null  object
 21  total_acc               39717 non-null  int64
 22  recoveries              39717 non-null  float64
 23  delinq_amnt             39717 non-null  int64
 24  status_of_loans         39717 non-null  int64
 25  grade_of_loans          39717 non-null  int64
 26  life                    39717 non-null  object
 27  life_new                39717 non-null  int64
 28  interest_rate           39717 non-null  object
 29  interest_rate_new       39717 non-null  float64
dtypes: float64(7), int64(9), object(14)
memory usage: 9.1+ MB

In [38]:
X = loan_new[['loan_amnt', 'life_new', 'interest_rate_new', 'installment', 'grade_of_loans', 'annual_inc']]

In [39]:
X.to_csv("./archive(1)/X.csv")

In [40]:
X.head()

,loan_amnt,life_new,interest_rate_new,installment,grade_of_loans,annual_inc
0,5000,36,10.65,162.87,6,24000.0
1,2500,60,15.27,59.83,5,30000.0
2,2400,36,15.96,84.33,5,12252.0
3,10000,36,13.49,339.31,5,49200.0
4,3000,60,12.69,67.79,6,80000.0

In [41]:
type(X)

pandas.core.frame.DataFrame

In [42]:
X.shape

(39717, 6)

In [43]:
y = loan_new['status_of_loans']

In [44]:
y.to_csv("./archive(1)/y.csv")